* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
 
  --blue: #0071ff;
  --light-blue: #b6dbf6;
  --dark-blue: #005dd1;
  --grey: hsla(12, 19%, 74%, 0.589);
}
/* test*/
body {
  margin: 0;
  
}
.upload-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: var(--light-blue); */
  /* background-image: url(./images/image-bg.jpg); */
  background-color: grey;

  
}
.container {
  max-width: 500px;
  width: 100%;
  /* background: rgb(240, 241, 238); */
  /* background-color:rgb(114, 104, 104); */
  padding: 30px;
  border-radius: 30px;
  /* background-image: url(./images/images.jfif); */
  background-color: white;
  
}
.img-area {
  position: relative;
  width: 100%;
  height: 240px;
  /* background: var(--grey); */
  background-color: rgb(244, 245, 238);
  margin-bottom: 30px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}



.img-area h3 {
  position:absolute;
  top: 150px;
  font-size: 30px;
  font-weight: 600;
  
}
.img-area p {
  position:absolute;
  top: 190px;
  color: #999;
  font-size: 18px;
  font-weight: 400;
}
.img-area p span {
  font-weight: 600;
}

.img-area img {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 100%;
}
.img-area::before {
  content: attr(data-img);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 200;
}
.upload-icon img{
  position: absolute;
  max-width: 160px;
  max-height: 105px;
  top: 30px;
  left: 30%;
}

.img-area.active:hover:before{
  opacity: 1;

}
.button{
  display:block;
}

.select-image {
  
  width: 70%;
  padding: 16px 0;
  border-radius: 16px;
  /* background: var(--blue); */
  background-color:lightseagreen;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  
}
.select-image:hover {
  /* background: var(--dark-blue); */
  background-color: rgb(72, 148, 138);
}

.search {

  position: relative;
  left:5%;
  width: 25%;
  padding: 16px 0;
  border-radius: 16px;
  background-color:lightseagreen;
  /* background: var(--blue); */
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  
}
.search:hover {
  /* background: var(--dark-blue); */
  background-color: rgb(72, 148, 138);
}